body {
    text-align: right;
}

.gameBoard {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 860px;
    height: 500px;

    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    border: 3px solid rgb(24, 4, 139);
    margin: 0 auto;
    position: relative;
}

.airplane {
    position: absolute;

    left: 50%;
    bottom: 0;

    width: 70px;
    height: 60px;

    background-image: url(/images/airplane2.png);
    background-size: cover;
}

.fallingObject {
    position: absolute;
    width: 65px;
    height: 60px;
    background-size: cover;
    top: 0px;
    animation: fall 3s infinite linear;
}

@keyframes fall {
    0% {
        top: 0;
    }

    100% {
        top: 85%;
    }
}

.column-0 {
    left: 0px;
}

.column-1 {
    left: 65px;
}

.column-2 {
    left: 130px;
}

.column-3 {
    left: 195px;
}

.column-4 {
    left: 260px;
}

.column-5 {
    left: 325px;
}

.column-6 {
    left: 390px;
}

.column-7 {
    left: 455px;
}

.column-8 {
    left: 520px;
}

.column-9 {
    left: 585px;
}

.column-10 {
    left: 650px;
}

.column-11 {
    left: 715px;
}

.column-12 {
    left: 780px;
}

.object1 {
    background-image: url(images/object1.png);
}

.object2 {
    background-image: url(images/object2.png);
}

.object3 {
    background-image: url(images/object3.png);
}

.object4 {
    background-image: url(images/object4.png);
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-image: url(images/gameover2.webp);
    background-size: contain;
    background-repeat: 0;
    padding: 50px;
    z-index: 9999;
    display: none;
    text-align: center;
}

#game-over-text {
    position: relative;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 1px yellow, -3px -3px orangered;
    font-size: 7vh;
}

h3 {
    color: white;
    text-shadow: 2px 2px 1px black;
}

#new-game {
    background-color: rgb(248, 248, 22);
    border-radius: 25%;
    border-color: red;
    color: rgb(226, 43, 43);
}