body {
    text-align: right;
}

.gameBoard {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 860px;
    height: 500px;

    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid rgb(24, 4, 139);

    margin: 0 auto;
    position: relative;
}

.airplane {
    position: relative;

    left: 50%;
    bottom: 0;

    width: 70px;
    height: 60px;

    background-image: url(airplane2.png);
    background-size: cover;
}

.fallingObject {
    position: absolute;
    width: 65px;
    height: 60px;
    background-size: cover;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-image: url(gameover2.webp);
    background-size: contain;
    background-repeat: 0;
    padding: 50px;
    z-index: 9999;
    display: none;
    text-align: center;
}

#game-over-text {
    position: relative;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 1px yellow, -3px -3px orangered;
    font-size: 3.5vh;
}

h3 {
    color: white;
    text-shadow: 2px 2px 1px black;
}

#new-game {
    background-image: yellow;
    border-radius: 25%;
    border-color: red;
    color: blueviolet;
}